.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  background: var(--background-gradient);
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-text-font-weight);
}

@supports (-webkit-touch-callout: none) {
  body, html {
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }
  
  .page {
    background-attachment: fixed !important;
    min-height: -webkit-fill-available;
  }
}

.header {
  margin-block-start: 100px;
  border: var(--border-settings);
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem) clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  font-family: var(--accent-font), sans-serif;
  background-color: #fff;
  inline-size: var(--inline-size);
}

.header__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-weight: var(--accent-font-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  font-weight: var(--accent-font-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-start: 98px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--border-settings);
  background-color: #fff;
  inline-size: var(--inline-size);
}

.card__title {
  border-block-end: var(--border-settings);
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--heading-font-weight);
}

.card__img-container {
  position: relative;
}

.card__img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--accent-font-weight);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--text-stroke-color);
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__description-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: var(--border-settings);
  padding: 25px;
  font-size: 18px;
}

.card__buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  align-self: end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  inline-size: 39px;
  block-size: 36px;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon {
  align-self: center;
}

.like-icon:hover .main-body {
  fill: var(--icon-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--icon-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.countour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.is-liked .heart {
  transform-origin: center;
  animation-name: increase-scale;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.is-liked .sparks {
  animation-name: heart-sparks-visibility;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: var(--border-settings);
  overflow: hidden;
  background-color: var(--button-bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--overlay-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 100%;
  inline-size: 100%;
}

.card__like-button {
  padding: 11px 35px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.button-save {
  padding: 17px 18px;
  margin-block-end: 100px;
}

.icon-floppy {
  flex-shrink: 0;
  align-self: center;
}

.button-save .icon-floppy {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  transition: color 0.3s ease;
  mix-blend-mode: difference;
  block-size: 21px;
  inline-size: 21px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 30px;
  max-inline-size: 353px;
}

.dialog__description-container {
  display: flex;
  gap: 20px;
}

.dialog__description-container .icon-floppy {
  block-size: 39px;
  inline-size: 39px;
}

.dialog__title {
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--accent-font-weight);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button-close-dialog {
  padding: 12.5px 132.5px;
}

.button-close-dialog .button__text {
  text-transform: uppercase;
}

dialog[open]::backdrop {
  opacity: 0.75;
  background: #000;
}

/* ФИЛЬТРЫ */

.img-brightness {
  filter: brightness(110%);
}

.img-contrast {
  filter: contrast(150%);
}

.img-opacity {
  filter: opacity(70%);
}

.img-grayscale {
  filter: grayscale(100%);
}

.img-sepia {
  filter: sepia(50%);
}

.img-blur {
  filter: blur(0.1rem);
}

.img-saturate {
  filter: saturate(150%);
}

.img-filter-combination {
  filter: saturate(150%) brightness(110%);
}

/* ДЛЯ МОБИЛЬНЫХ */

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
  }

  .button-save .icon-floppy {
    block-size: 28px;
    inline-size: 28px;
  }

  .dialog[open] {
    padding: 30px 40px;
    max-inline-size: 341px;
  }

  .button-close-dialog {
    padding: 12.5px 116.5px;
  }
}