:root {
  /* ШРИФТЫ */
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';

  /* ТИПОГРАФИКА */
  --main-text-font-weight: 410;
  --heading-font-weight: 715;
  --accent-font-weight: 400;

  /* РАЗМЕРЫ И НАСТРОЙКИ */
  --inline-size: clamp(375px, 50vw, 700px);
  --border-settings: 2px solid #000;

  /* ЦВЕТА */
  --icon-contour-color: #000;
  --animation-fill-color: #FF0000;
  --sparks-color: #FF0000;
  --accent-color: #000;
  --button-bg-color: #fff;
  --button-text-color: #fff;
  --overlay-color: #000;
  --text-stroke-color: #fff;

  /* ГРАДИЕНТ */
  --background-gradient: 
  repeating-linear-gradient(90deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  repeating-linear-gradient(180deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  linear-gradient(180deg, #007f0c 0%, #004306 100%);
}